body {
    background-image: url("../images/background_pc.png");
    background-size: 100% 100%;
}

#title {
    margin: 5% auto 20px;
    max-width: 65%;
}

#title-img {
    margin: auto;
    display: block;
    height: auto;
    max-width: 100%;
}

#result {
    margin-top: 5%;
    text-align: center;
}

#result-text {
    font-size: 200%;
    font-weight: bold;
    color: #0f165c;
}

#result-img {
    margin-left: 5%;
    height: 1.5%;
}

#try {
    margin: 5% auto;
    width: 30%;
}

#try-img {
    margin: auto;
    display: none;
    height: auto;
    max-width: 100%;
}